/* MODAL WINDOW*/

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: var(--white);
    border-radius: 10px;
    margin: auto;
    border: 1px solid #888;
    width: 350px ; 
    height: auto;
    padding: 20px;
    opacity: 90%;    
  }
  
  .modal-title{
      display: flex;
      font-weight: 600;
      background-color: var(--cor-menu);
      color: var(--font-barra);
      padding-left: 30px;
      align-items: center;
      width: 100%;
      height: 40px;
      align-items: center;       
      justify-content: space-between;
  }

  .modal-text{
      padding: 20px;;
  }

  .close, .over-close {
    padding-right: 10px;
    color: #acacac;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover, .close:focus, .over-close:hover, .over-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

/*  OVER MODAL  */

  .over-modal{
    z-index: 2;
    top: 6vh;
    left: 5vw;
    width: 90%; 
    height: 90%; 
    background-color: rgb(0,0,0,0); 

  }


/* FIM MODAL */