    /* Reset */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        position: relative;
        z-index: -2;
        background-color: var(--white);
        font-family: "Poppins", sans-serif;
    }
    a{
      color: inherit; /* blue colors for links too */
      text-decoration: inherit; /* no underline */    
      text-align: center;
    }

    h1{
        width: 100%;
        text-align: center;
        text-transform: uppercase;
    }

    ul{
        list-style: none;
        width: 100%;
    }

    li{
        list-style: none;
    }

    button{
        cursor: pointer;
    }

    table {
        margin: 20px;
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr td{
        cursor: pointer;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }