<template>
 
    <style>

        .frm-brinq{
            display: flex;
            flex-direction: column;
            align-items: center;

        }

        .frm-brinq *{
            padding: 8px;
            margin: 10px;
            width: 80%;
        }

        label:hover, input[type="checkbox"]:hover{
            cursor: pointer;
        }

    </style>

    <div class="frm-brinq">
       
        Nome
        <input type="text"     id="edtNome" placeholder="Nome" maxlength="50">
        Imagem
        <input  name="up_file" id="up_file" type="file" accept=".jpg,.jpeg,.png">
        <canvas width="300" height="300" id="cnvImg"></canvas>
        <div class="inline">
            <label for="ckbAtivo">Ativo</label>
            <input type="checkbox" id="ckbAtivo" checked>
    
        </div>
        Tamanho
        <select id="cmbTamanho">
            <option value="P">Pequeno</option>
            <option value="M" selected>Médio</option>
            <option value="G">Grande</option>
        </select>
        Qtd.
        <input type="text"     id="edtQtd" placeholder="Quantidade" value="1"  onkeyup="inteiro(this)">
        Sobre...
        <textarea id="edtSobre" cols="30" rows="10" maxlength="250"></textarea>

        <button id="btnNovo"> Cadastrar </button>
        <button id="btnDel" style="display:none;">Deletar</button>        
        
    </div>

</template>

<script>        

    if(modal_data != ''){
        document.querySelector('#edtNome').value = modal_data.nome
        document.querySelector('#cmbTamanho').value = modal_data.tamanho
        document.querySelector('#edtQtd').value = modal_data.qtd
        document.querySelector('#ckbAtivo').checked = parseInt(modal_data.ativo)
        document.querySelector('#edtSobre').value = modal_data.sobre
        document.querySelector('#btnNovo').innerHTML = 'Salvar'
        document.querySelector('#btnDel').style = 'display:block;'
        if(modal_data.img.trim() != ''){
            loadImg(modal_data.img)
        }

    }

    document.querySelector('#btnNovo').addEventListener('click',()=>{

        const up_data = new FormData();        
            up_data.append("up_file",  document.querySelector('#up_file').files[0]);
            up_data.append("hdnAccess", localStorage.getItem('access'));

        const myRequest = new Request("files/upload.php",{
            method : "POST",
            body : up_data
        });

        const myPromisse = new Promise((resolve,reject) =>{
            fetch(myRequest)
            .then(function (response){
                if (response.status === 200) { 
                    resolve(response.text());

                    path = document.querySelector('#up_file').value.split('\\')[2]
                    if(path == undefined){
                        path = modal_data != '' ? modal_data.img : ''
                    }

                    const params = new Object;
                        params.nome = document.querySelector('#edtNome').value
                        params.img = path
                        params.tamanho = document.querySelector('#cmbTamanho').value
                        params.qtd = document.querySelector('#edtQtd').value
                        params.sobre = document.querySelector('#edtSobre').value
                        params.ativo = document.querySelector('#ckbAtivo').checked
                        let myPM_2
                        if(modal_data != ''){
                            params.id = modal_data.id;
                            myPM_2 = queryDB(params,11)
                        }else{
                            myPM_2 = queryDB(params,9)
                        }

                    myPM_2.then((resolve)=>{
                        btnClose.click();
                        openHTML('config.html')
                    });

                } else { 
                    reject(new Error("Houve algum erro na comunicação com o servidor"));                    
                } 
            });
        }); 

    })

    document.querySelector('#up_file').addEventListener('change',()=>{

        if (document.querySelector('#up_file').files && document.querySelector('#up_file').files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {

                var ctx = document.getElementById('cnvImg');
                if (ctx.getContext) {

                    ctx = ctx.getContext('2d');
                    let preview = new Image();
                    preview.onload = function () {
                        ar = aspect_ratio(preview)
                        ctx.drawImage(preview, 0, 0,preview.width,preview.height,ar[0],ar[1],ar[2],ar[3]);
                    };

                    preview.src = e.target.result
              
                }

            }

            reader.readAsDataURL(document.querySelector('#up_file').files[0]);
        }

    })

    document.querySelector('#btnDel').addEventListener('click',()=>{
        if (confirm('Deseja realmente deletar este brinquedo?')) {

            const params = new Object;
                params.id = modal_data.id;

            const myPromisse = queryDB(params,12)
            myPromisse.then((resolve)=>{
                btnClose.click();
                openHTML('config.html')
            });         

        }        
    })
/*
    document.querySelector('#edtQtd').addEventListener('keyup',(key)=>{
        number(key.target)
        key.target.value = key.target.value.trim() == '' ? 0 : parseInt(key.target.value)
    })
*/
</script>    