<template>
 
    <style>

/*
        .over-modal{
            max-width: 600px;
        }
*/
        .frm-brinq{
            display: flex;
            flex-direction: column;
            align-items: center;

        }

        .frm-brinq *{
            padding: 8px;
            margin: 10px;
            width: 100%;
        }

        #cnvImg{
            max-width: 300px;
        }


        .line{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .line label{
            max-width: 30px;
            text-align: end;
        }

        .line input{
            max-width: 60px;
            text-align: end;
        }

        .line button{
            max-width: 200px;
        }

        #edtSobre{
            text-align: center;
        }

    </style>

    <div class="frm-brinq">
       
        <canvas width="300" height="300" id="cnvImg"></canvas>
        <p id="edtSobre"></p>
<!--         <textarea id="edtSobre" cols="30" rows="10" maxlength="250" readonly></textarea>  -->

        <div class="line">
            <label for="edtQtd">Qtd.</label>            
            <input type="text"     id="edtQtd" placeholder="Quantidade" value="1">
            <button id="btnAdd"> Adicionar </button>
            </div>

        
    </div>

</template>

<script>        

    function addToy(data){
        const params = new Object;
            params.id_brinq = modal_data.id;
            params.id_festa = modal_data.evento.id;
            params.qtd = document.querySelector('#edtQtd').value;

        const myPromisse = queryDB(params,19)

        myPromisse.then((resolve)=>{    
            openHTML('myToys.html','pop-up',modal_data.evento.nome+" - "+formatData(modal_data.evento.data) ,modal_data.evento)
//            openHTML('myToys.html','pop-up',data.nome+" - "+formatData(data.data)+'<br>'+data.kit ,data)
            over_close.click()
        });
    }



    if(modal_data != ''){

        document.querySelector('#edtSobre').innerHTML = modal_data.sobre
//        document.querySelector('#edtSobre').value = modal_data.sobre
        if(modal_data.img.trim() != ''){
            loadImg(modal_data.img)
        }

    }

    document.querySelector('#btnAdd').addEventListener('click',()=>{

        qtd = parseInt(document.querySelector('#edtQtd').value)
        if(qtd > 0){

            if(qtd > 1){
                if (confirm(`Deseja realmente adicionar ${qtd} volumes deste brinquedo?`)) {
                    addToy()
                }
            }else{
                addToy()
            }

        }else{
            over_close.click()
        }


    })



    document.querySelector('#edtQtd').addEventListener('keyup',(key)=>{
        
        etq = parseInt(modal_data.qtd)

        number(key.target)
        key.target.value = key.target.value.trim() == '' ? 0 : parseInt(key.target.value)

        saldo = modal_data.evento.saldo[modal_data.tamanho]
        qtd = parseInt(key.target.value)

        if(qtd > etq){
            alert(`Temos apenas ${etq} peças deste ítem no estoque`)
            key.target.value = etq
            qtd = etq
        }
        if(qtd > saldo){
            alert(`Você pode escolher apenas mais ${saldo} peças do tamanho ${modal_data.tamanho}`)
            key.target.value = saldo   
        }

    })

</script>    