<template>
 
    <style>

        .frm-agenda{   
            display: flex;
            flex-wrap: wrap;
            overflow-x: scroll;
            flex-direction: column;         
            width: 90%;
            background-color: rgba(207, 241, 230, 0.8);
            border-radius: 10px;
            padding: 10px;
            margin: 20px;
        }

        #tblFestas{
            width: 95%;
        }

        button{
            margin: 0;
        }

        .inline * {
            margin: 10px;
            width: 100%;
        }

        /* Responsiveness */
        @media (min-width: 850px) {
            .frm-agenda{ 
                overflow: visible;
            }
        }


    </style>

    <h1>Agende sua Festa Conosco</h1>


    <div class="frm-agenda" >
        <h4> Meus Eventos</h4>
        <table id="tblFestas"></table>
        <button id="btnNovoEvento" >Criar Novo</button>  
    </div>


</template>

<script>        

    viewParty()

    function viewParty(){

        const params = new Object;
            params.hash = localStorage.getItem('hash');
            
        const myPromisse = queryDB(params,14)

        myPromisse.then((resolve)=>{

            const tab = document.querySelector('#tblFestas')
            tab.innerHTML = ''
            if(resolve.trim() != ""){ 
                if(localStorage.getItem('access')=='10'){
                    tab.innerHTML = '<tr><th class="td-min">id</th><th>Data</th><th>Cliente</th><th>Evento</th><th>Kit</th><th>Status</th></tr>'
                }else{
                    tab.innerHTML = '<tr><th>Data</th><th>Evento</th><th>Kit</th><th>Status</th></tr>'
                }
                function addTD(val,cn=''){
                    const td = document.createElement('td')
                    td.innerHTML = val
                    if(cn != ''){
                        td.className = cn
                    }
                    return td
                }
                const json = JSON.parse(resolve);

                for(let i=0; i<json.length; i++){
                    schedule = new Date(json[i].data)
                    json[i].status = json[i].aberta != '1' || today > schedule   ? 'Encerrado' : 'Aberto'
                    const tr = document.createElement('tr')
                    localStorage.getItem('access')=='10' ? tr.appendChild(addTD(json[i].id)) : 0
                    tr.appendChild(addTD(formatData(json[i].data)))
                    localStorage.getItem('access')=='10' ? tr.appendChild(addTD(json[i].cliente)) : 0
                    tr.appendChild(addTD(json[i].nome))
                    tr.appendChild(addTD(json[i].kit))
                    tr.appendChild(addTD(json[i].id_user,'hide'))
                    tr.appendChild(addTD(json[i].status))
                    tr.dados = json[i]
                    tab.appendChild(tr)
                }
            }
            
        });

    }

    document.querySelector('#btnNovoEvento').addEventListener('click',()=>{

        data = []
        data.push(localStorage.getItem("nome"))
        data.push(localStorage.getItem("endereco"))
        data.push(localStorage.getItem("num"))
        data.push(localStorage.getItem("bairro"))
        data.push(localStorage.getItem("cidade"))
        data.push(localStorage.getItem("cel"))
        data.push(localStorage.getItem("nome"))

        not_ok = data.includes('null') || data.includes('undefined') || data.includes('')

        if(not_ok){
            alert('Por favor, precisamos completar seu cadastro antes')
            openHTML('new_user.html','pop-up','Complete seu cadastro',2)
        }else{
            openHTML('new_event.html','pop-up','Crie seu Evento')
        }

        
/*        
        const id = localStorage.getItem('id')
        const dt = document.querySelector('#edtData').value.trim()
        const nm = document.querySelector('#edtNome').value.trim()
        const kt = document.querySelector('#cmbKit').value

        if(id != '' && dt != '' && nm != ''  && kt != ''){
            const params = new Object;
                params.id_user = localStorage.getItem('id');
                params.id_kit = kt;
                params.data = dt;
                params.nome = nm;
    
                document.querySelector('#edtNome').value = ''

            const myPromisse = queryDB(params,13)

            myPromisse.then((resolve)=>{    
                viewParty()
            });
        }else{
            alert('Por favor, forneça uma data e um nome para o evento.')
        }
*/
    })

    document.querySelector('#tblFestas').addEventListener('click',(e)=>{
        data = e.target.parentNode.dados
        data.origin = 'agenda'
        openHTML('myToys.html','pop-up',data.nome.toUpperCase()+" - "+formatData(data.data)+'<br>'+data.kit ,data)
    })




</script>    