<template>
 
    <style>

        .frm-agenda{
            display: flex;
            flex-direction: column;
            margin: 20px;
        }


    </style>

    <div class="frm-agenda">

        <label for="edtData">Data do Evento</label>
        <input id="edtData" type="date">
       

        <label for="btnBrinq">Selecione o Brinquedo</label>
        <button id="btnBrinq">Adicionar</button>

        <select id="cmbBrinq"></select>

        
    </div>

</template>

<script>        








</script>    