<template>
 
    <style>

        .frm-agenda{   
            display: flex;
            flex-direction: column;         
            width: 80%;
            background-color: rgba(207, 241, 230, 0.8);
            border-radius: 10px;
            padding: 10px;
            margin: 20px;
        }

        #tblFestas{
            width: 95%;
        }

        button{
            margin: 0;
        }

        .inline * {
            margin: 10px;
            width: 100%;
        }


    </style>

    <h1>Agende sua Festa Conosco</h1>

    <div class="frm-agenda" >
        <h4>Crie um Evento</h4>
        <div class="inline">
            <label for="edtData" >Data</label>
            <input id="edtData" type="date" > 
        </div>
        <div class="inline">
            <label for="edtNome">Nome</label>
            <input type="text" id="edtNome" placeholder="Nome do Evento" maxlength="50">
        </div>
        <div class="inline">
            <label for="cmbKit">Kit</label>
            <select id="cmbKit"></select>
        </div>
        <button id="btnNovoEvento" >Criar</button>       
       
    </div>

    <div class="frm-agenda" >
    
        <table id="tblFestas"></table>
    
    </div>


</template>

<script>        

    viewParty()
    fillKit()


    function fillKit(){

        function addOption(json){
            op = document.createElement('option')
            op.value = json.id
            op.innerHTML = json.nome
            return op
        }

        const params = new Object;
            params.nome = '';

        const myPromisse = queryDB(params,15)

        myPromisse.then((resolve)=>{
            kits = JSON.parse(resolve)
            combo = document.querySelector('#cmbKit')
            combo.innerHTML = ''

            for(let i=0; i<kits.length; i++){
                combo.appendChild(addOption(kits[i]))
            }

        })
    }

    function viewParty(){

        const params = new Object;
            params.id_user = localStorage.getItem('id');
            
        const myPromisse = queryDB(params,14)

        myPromisse.then((resolve)=>{

            const tab = document.querySelector('#tblFestas')
            tab.innerHTML = ''
            if(resolve.trim() != ""){            
                tab.innerHTML = '<tr><th class="td-min">id</th><th>Data</th><th>Nome</th><th>Kit</th></tr>'
                function addTD(val,cn=''){
                    const td = document.createElement('td')
                    td.innerHTML = val
                    if(cn != ''){
                        td.className = cn
                    }
                    return td
                }

                const json = JSON.parse(resolve);

                for(let i=0; i<json.length; i++){
                    const tr = document.createElement('tr')
                    tr.appendChild(addTD(json[i].id))
                    tr.appendChild(addTD(formatData(json[i].data)))
                    tr.appendChild(addTD(json[i].nome))
                    tr.appendChild(addTD(json[i].kit))
                    tr.appendChild(addTD(json[i].id_user,'hide'))
                    tr.dados = json[i]
                    tab.appendChild(tr)

                }

            }
            
        });


    }

    document.querySelector('#btnNovoEvento').addEventListener('click',()=>{

        const id = localStorage.getItem('id')
        const dt = document.querySelector('#edtData').value.trim()
        const nm = document.querySelector('#edtNome').value.trim()
        const kt = document.querySelector('#cmbKit').value

        if(id != '' && dt != '' && nm != ''  && kt != ''){
            const params = new Object;
                params.id_user = localStorage.getItem('id');
                params.id_kit = kt;
                params.data = dt;
                params.nome = nm;
    
                document.querySelector('#edtNome').value = ''

            const myPromisse = queryDB(params,13)

            myPromisse.then((resolve)=>{    
                viewParty()
            });
        }else{
            alert('Por favor, forneça uma data e um nome para o evento.')
        }


    })

    document.querySelector('#tblFestas').addEventListener('click',(e)=>{
        data = e.target.parentNode.dados
        data.origin = 'agenda'
        openHTML('myToys.html','pop-up',data.nome+" - "+formatData(data.data)+'<br>'+data.kit ,data)
    })

</script>    