<template>
 
    <style>

        .frm-config{
            display: flex;
            flex-direction: column;
            margin: 20px;
            align-items: center;
            width: 100%;
        }

        .inline input{
            margin: 20px 0;
            height: auto;
        }

        button{
            width: 95%;
        }

        table{
            max-width: 95%;
        }

        fieldset{
            width: 90vw;
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
        }

    </style>

    <div class="frm-config">

        <fieldset>
            <legend>Kits</legend>
            <div class="inline">
                <input type="text" class="edtBusca" id="edtBuscaKit" placeholder="Digite sua busca aqui" onkeypress="return getEnter(event, 'btnBuscaKit')">
                <button class="btn-destaque btn-round" id="btnBuscaKit"><img class="img-icon" src="assets/icon/search.svg" alt=""></button>
                <button class="btn-destaque btn-round" id="btnNewKit"><img class="img-icon" src="assets/icon/plus.svg" alt=""></button>  
            </div>
                
            
            <table id="tblKit"></table>
          </fieldset>

        <fieldset>
            <legend>Brinquedos</legend>
            <div class="inline">
                <input type="text" class="edtBusca" id="edtBuscaBrinq" placeholder="Digite sua busca aqui" onkeypress="return getEnter(event, 'btnBuscaBrinq')">
                <button class="btn-destaque btn-round" id="btnBuscaBrinq"><img class="img-icon" src="assets/icon/search.svg" alt=""></button>
                <button class="btn-destaque btn-round" id="btnNewToy"><img class="img-icon" src="assets/icon/plus.svg" alt=""></button>  
            </div>
            <table id="tblBrinq"></table>
        </fieldset>

        <fieldset>
            <legend>Usuários</legend>

            <div class="inline">
                <input type="text" class="edtBusca" id="edtBuscaUser" placeholder="Digite sua busca aqui" onkeypress="return getEnter(event, 'btnBuscaUser')">
                <button class="btn-destaque btn-round" id="btnBuscaUser"><img class="img-icon" src="assets/icon/search.svg" alt=""></button>
                <button class="btn-destaque btn-round" id="btnNewUser"><img class="img-icon" src="assets/icon/plus.svg" alt=""></button>  
            </div>
            <table id="tblUser"></table>
        </fieldset>
        

    </div>

</template>

<script>        
    
    function addTD(val,cn=''){
        const td = document.createElement('td')
        td.innerHTML = val
        if(cn != ''){
            td.className = cn
        }
        return td
    }

    function viewToys(){

        const params = new Object;
            params.nome = document.querySelector('#edtBuscaBrinq').value.trim();
            
        const myPromisse = queryDB(params,10)

        myPromisse.then((resolve)=>{

            const tab = document.querySelector('#tblBrinq')
            tab.innerHTML = ''

            if(resolve.trim() != ""){            
                tab.innerHTML = '<tr><th>Img.</th><th>Nome</th><th>Tam.</th><th>Qtd.</th><th class="td-min">Ativo</th><th class="td-min">Sobre</th></tr>'

                const json = JSON.parse(resolve);

                for(let i=0; i<json.length; i++){                  
                    const tr = document.createElement('tr')
                    tr.appendChild(addTD(`<canvas width="300" height="300" class="img-mini" id="cnvImg${i}" class="${json[i].qtd<=0?'img-PB':''}"></canvas>`,'no-margin'))
                    tr.appendChild(addTD(json[i].nome))
                    tr.appendChild(addTD(json[i].tamanho))
                    tr.appendChild(addTD(json[i].qtd))
                    tr.appendChild(addTD(json[i].ativo == '1' ? 'SIM' : 'NÂO',"td-min" ))
                    tr.appendChild(addTD(json[i].sobre,"td-min"))

                    tr.appendChild(addTD(json[i].img,'hide'))
                    tr.dados = json[i]
                    tab.appendChild(tr)
                    loadImg(json[i].img,"cnvImg"+ i)
                }
            }

        });
    }

    function viewKit(){

        const params = new Object;
            params.nome = document.querySelector('#edtBuscaKit').value.trim();

        const myPromisse = queryDB(params,15)

        myPromisse.then((resolve)=>{

            const tab = document.querySelector('#tblKit')
            tab.innerHTML = ''

            if(resolve.trim() != ""){            
                tab.innerHTML = '<tr><th class="td-min">id</th><th>Nome</th><th>P</th><th>M</th><th>G</th><th class="td-min">Tipo</th><th>Valor</th></tr>'

                const json = JSON.parse(resolve);

                for(let i=0; i<json.length; i++){
                    const tr = document.createElement('tr')
                    tr.appendChild(addTD(json[i].id,"td-min"))
                    tr.appendChild(addTD(json[i].nome))
                    tr.appendChild(addTD(json[i].P))
                    tr.appendChild(addTD(json[i].M))
                    tr.appendChild(addTD(json[i].G))
                    tr.appendChild(addTD(json[i].tipo,"td-min"))
                    tr.appendChild(addTD(parseFloat(json[i].valor).toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})))
                    tr.dados = json[i]
                    tab.appendChild(tr)
                }
            }

        });
    }

    function viewUsers(){

        const params = new Object;
            params.email = document.querySelector('#edtBuscaUser').value.trim();

        const myPromisse = queryDB(params,6)

        myPromisse.then((resolve)=>{

            if(resolve.trim() != ""){
                function addTD(val,cn=''){
                    const td = document.createElement('td')
                    td.innerHTML = val
                    td.className = cn
                    return td
                }

                const json = JSON.parse(resolve);

                const tab = document.querySelector('#tblUser')
                tab.innerHTML = '<tr><th>id</th><th>Email</th><th>Acesso</th></tr>'

                for(let i=0; i<json.length; i++){
                    const tr = document.createElement('tr')
                    tr.appendChild(addTD(json[i].id))
                    tr.appendChild(addTD(json[i].email))
                    tr.appendChild(addTD(json[i].access=='10'?'Administrador':'Cliente'))
                    tr.dados = json[i]
                    tab.appendChild(tr)

                }

            }     

        });

    }


    document.querySelector('#tblBrinq').addEventListener('click',(e)=>{
        data = e.target.parentNode.dados
        data.origin = 'config'
        openHTML('addBrinq.html','pop-up',data.nome,data)
    })

    document.querySelector('#btnNewToy').addEventListener('click',()=>{
        openHTML('addBrinq.html','pop-up','Novo Brinquedo')
    })

    document.querySelector('#btnBuscaBrinq').addEventListener('click',()=>{        
        viewToys()
    })

    document.querySelector('#tblKit').addEventListener('click',(e)=>{
        data = e.target.parentNode.dados
        data.origin = 'config'
        openHTML('addKit.html','pop-up',data.nome,data)
    })

    document.querySelector('#btnNewKit').addEventListener('click',()=>{
        openHTML('addKit.html','pop-up','Novo Kit')
    })

    document.querySelector('#btnBuscaKit').addEventListener('click',()=>{        
        viewKit()
    })

    document.querySelector('#btnBuscaUser').addEventListener('click',()=>{        
        viewUsers()
    })

    document.querySelector('#btnNewUser').addEventListener('click',()=>{

        openHTML('new_user.html','pop-up','Novo Usuário',1)

    })

    document.querySelector('#tblUser').addEventListener('click',(e)=>{
        data = e.target.parentNode.dados        
        data.origin = 'edt_config'
        openHTML('new_user.html','pop-up',data.username,data)
    })



</script>    