<template>
 
    <style>

        .frm-frame{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .frm-frame *{
            padding: 8px;
            margin: 10px;
            width: 80%;
        }


    </style>

    <div class="frm-frame">
       
        Imagem
        <form id="frmUpload" action="files/upload.php" method='post' enctype='multipart/form-data'>
            <input  name="up_file" id="up_file"      type="file">
            <input  type="hidden"  id="hdnAccess"    name="hdnAccess"    value="">
        </form>

        Cor de Fundo
        <input id="cmbColor" type="color" value="#f0a70a" >
            
        Fonte
        <input  id="cmbFont" type="number" value="15" min="8" max="35" maxlength="255" >

        Texto
        <textarea id="edtTexto" cols="40" rows="5"></textarea>
        <button id="btnSave"> Salvar </button>
        <button id="btnDel"> Deletar </button>
        
    </div>

</template>

<script>        

    document.querySelector('#cmbColor').value = data.background
    document.querySelector('#cmbFont').value = data.font
    document.querySelector('#edtTexto').value = data.text


    document.querySelector('#btnSave').addEventListener('click',()=>{

        document.querySelector('#hdnAccess').value = localStorage.getItem('access');

        const up_data = new FormData();        
            up_data.append("up_file",  document.querySelector('#up_file').files[0]);
            up_data.append("hdnAccess", localStorage.getItem('access'));

        const myRequest = new Request("files/upload.php",{
            method : "POST",
            body : up_data
        });

        const myPromisse = new Promise((resolve,reject) =>{
            fetch(myRequest)
            .then(function (response){
                if (response.status === 200) { 
                    resolve(response.text());
                    btnClose.click();
                } else { 
                    reject(new Error("Houve algum erro na comunicação com o servidor"));                    
                } 
            });
        }); 

        myPromisse.then((resolve)=>{

            const params = new Object;        
            params.category = localStorage.getItem("frame");
            params.background = document.querySelector('#cmbColor').value;
            if(resolve == 1){
                params.content = 'pic';
                filename = document.querySelector('#up_file').value.split('\\')
                params.filename = filename[filename.length-1] 

            }else{
                params.content = 'txt';
                params.filename = ''
            }
            params.font = document.querySelector('#cmbFont').value;
            params.text = document.querySelector('#edtTexto').value;
            params.id = data.id;

            const myPromisse = queryDB(params,4)

            myPromisse.then(()=>{
                loadContent(localStorage.getItem("frame"));
            })
            
            btnClose.click();

        })
    })

    document.querySelector('#btnDel').addEventListener('click',()=>{
        const params = new Object;
        params.id = data.id;
        const myPromisse = queryDB(params,5)

        myPromisse.then(()=>{
            loadContent(localStorage.getItem("frame"));
        })

        btnClose.click();

    })


</script>    