<template>
 
    <style>

        .modal-content {
            width: 350px ; 
            height: auto;
            padding: 20px;
            opacity: 90%;
        }

        .frm-login{
            display: flex;
            flex-direction: column;
            align-items: center;

        }

        .frm-login *{
            padding: 8px;
            margin: 10px;
            width: 80%;
        }

        #lblNovoUsuario{
            font-size: 12px;
        }

    </style>

    <div class="frm-user">
       <table id="tblUser"></table>


        <input type="text"     id="edtNome" placeholder="Nome Completo">
        <input type="text"     id="edtUser" placeholder="Usuário">
        <input type="password" id="edtPass" placeholder="Senha"  >
        <input type="password" id="edtRepPass" placeholder="Repita a Senha"  >
        <button id="btnNovo"> Cadastrar </button>
        
    </div>

</template>

<script>        

    function viewUsers(){

        const params = new Object;
            params.hash = localStorage.getItem("hash");

        const myPromisse = queryDB(params,6)

        myPromisse.then((resolve)=>{

            if(resolve.trim() != ""){
                function addTD(val){
                    const td = document.createElement('td')
                    td.innerHTML = val
                    return td
                }


                const json = JSON.parse(resolve);

                const tab = document.querySelector('#tblUser')
                for(let i=0; i<json.length; i++){
                    const tr = document.createElement('tr')
                    tr.appendChild(addTD(json[i].id))
                    tr.appendChild(addTD(json[i].nome))
                    tr.appendChild(addTD(json[i].username))
                    tr.appendChild(addTD(json[i].email))
                    tr.appendChild(addTD(json[i].cel))
                    tr.appendChild(addTD(json[i].access))
                    tr.appendChild(addTD(json[i].hash))
                    tab.appendChild(tr)

                }


                console.log(json)


            }     

        });


    }


    viewUsers()

    document.querySelector('#btnNovo').addEventListener('click',()=>{

        alert('Novo!!!')

    })






</script>    