<template>
 
    <style>

        .hide{
            display: none;
        }

        #btnNewUser{
            margin: 20px;
            padding: 5px;
            width: 100%;
        }

    </style>

    <div class="frm-user">
       <table id="tblUser"></table>
       <button id="btnNewUser">Novo Usuario</button>        
    </div>

</template>

<script>        

    document.querySelector('#btnNewUser').addEventListener('click',()=>{

        openHTML('new_user.html','pop-up','Novo Usuário')

    })

    document.querySelector('#tblUser').addEventListener('click',(e)=>{
        data = e.target.parentNode.dados
        data.origin = 'edt_user'

        openHTML('new_user.html','pop-up',data.username,data)

    })

    function viewUsers(){

        const params = new Object;
            params.hash = localStorage.getItem("hash");

        const myPromisse = queryDB(params,6)

        myPromisse.then((resolve)=>{

            if(resolve.trim() != ""){
                function addTD(val,cn=''){
                    const td = document.createElement('td')
                    td.innerHTML = val
                    td.className = cn
                    return td
                }

                const json = JSON.parse(resolve);

                const tab = document.querySelector('#tblUser')
                tab.innerHTML = '<tr><th>id</th><th>Nome</th><th>Usuário</th><th>Email</th><th>Cel</th><th>Acesso</th></tr>'

                for(let i=0; i<json.length; i++){
                    const tr = document.createElement('tr')
                    tr.appendChild(addTD(json[i].id))
                    tr.appendChild(addTD(json[i].nome))
                    tr.appendChild(addTD(json[i].username))
                    tr.appendChild(addTD(json[i].email))
                    tr.appendChild(addTD(json[i].cel))
                    tr.appendChild(addTD(json[i].access=='10'?'Administrador':'Cliente'))
                    tr.appendChild(addTD(json[i].hash,'hide'))
                    tr.dados = json[i]
                    tab.appendChild(tr)

                }

//                console.log(json)

            }     

        });


    }


    viewUsers()



</script>    