<template>
 
    <style>

        .modal-content {
            width: 350px ; 
            height: auto;
            padding: 20px;
            opacity: 90%;
        }

        .frm-login{
            display: flex;
            flex-direction: column;
            align-items: center;

        }

        .frm-login *{
            padding: 8px;
            margin: 10px;
            width: 80%;
        }

        #lblNovoUsuario{
            font-size: 12px;
        }

    </style>

    <div class="frm-user">
       <table id="tblUser"></table>


        <input type="text"     id="edtNome" placeholder="Nome Completo">
        <input type="text"     id="edtUser" placeholder="Usuário">
        <input type="password" id="edtPass" placeholder="Senha"  >
        <input type="password" id="edtRepPass" placeholder="Repita a Senha"  >
        <button id="btnNovo"> Cadastrar </button>
        
    </div>

</template>

<script>        

    document.querySelector('#btnNovo').addEventListener('click',()=>{

        alert('Novo!!!')

    })






</script>    