<template>
 
    <style>

        fieldset{
            display: flex;
            flex-direction: column;
            gap: 5px;            
        }

        table, tr, td, th{
            padding: 10px;
            margin: auto;
            border: none;
        }

        .modal-content{
            width: 90vw;

        }

        .no-margin{
            margin: 0 !important;
            padding: 0 !important;
            max-width: 40.5px;
        }

        legend{
            width: auto !important;
        }

        fieldset h3{
            text-align: center;
        }

        #btnContrata, #btnEdit{
            margin-top: 10px;
            width: 97%;
        }

        #tblToys, #tblMyToys{
            width: calc(100% - 40px);            
        }

        #lblSaldo{
            background-color: #F8F4C1;
            border: none;
            height: 100px;
            font-size: 1.5em;
            text-align: center;
            font-weight: bold;
        }

        .qtd-zero{
            background: rosybrown !important;           
        }


        .qtd-zero:nth-child(even){
            filter: brightness(80%) !important;
        }

        #fdsBuscaBrinq{
            display: none;
        }


    </style>

    <div class="frm-brinq">
           
        <fieldset>
            <legend>Evento</legend>
            <p id="lbl01"></p>
            <p id="lbl02"></p>
            <p id="lbl03"></p>
            <div class="inline">
                <button id="btnEdit">Editar</button>
                <button id="btnDel">Deletar</button>
            </div>
        </fieldset>

        <fieldset id="fdsBuscaBrinq">
            <legend>Adicione um Brinquedo</legend>
            <div class="inline">
                <input type="text" class="edtBusca" id="edtBusca" placeholder="Digite sua busca aqui" onkeypress="return getEnter(event, 'btnBusca')" >
                <button class="btn-destaque btn-round" id="btnBusca"><img class="img-icon" src="assets/icon/search.svg" alt=""></button>
            </div>
            <table id="tblToys"></table>
        </fieldset>

        <fieldset>
            <legend> Meus Brinquedos Selecionados</legend>
            <textarea id="lblSaldo" readonly></textarea>
            <table id="tblMyToys"></table>
        </fieldset>

        <div style="display: flex; align-items: center; justify-content: center; width: 100%;">
            <button  class="btn-destaque" id="btnContrata">Contratar</button>
        </div>

    </div>

</template>

<script>        

    document.querySelector('#lbl01').innerHTML = `<b>Local:</b> ${modal_data.local} - ${modal_data.endereco} N.${modal_data.num}, ${modal_data.cidade}-${modal_data.estado}`
    document.querySelector('#lbl02').innerHTML = `<b>Responsável:</b> ${modal_data.responsavel} - ${modal_data.cel}`
    document.querySelector('#lbl03').innerHTML = `<b>Início da Festa:</b> ${modal_data.inicio},  montagem programada para as ${modal_data.montagem} e desmontagem as ${modal_data.desmontagem}`

    if(modal_data.status != 'Aberto'){
        if(localStorage.getItem('access')=='10'){           
            document.querySelector('#btnDel').innerHTML='Reabrir Festa'            
        }else{
            document.querySelector('#btnDel').style.display='none'
        }
    }


    viewMyToys()
    viewSaldo()


    modal_data.saldo = new Object
        modal_data.saldo.P = parseInt(modal_data.P)
        modal_data.saldo.M = parseInt(modal_data.M)
        modal_data.saldo.G = parseInt(modal_data.G)

    if(modal_data.status != 'Aberto'){
        document.querySelector('#btnContrata').innerHTML = 'Ver Contrato'    
    }


    function saldo(){

        const aviso = document.querySelector('#lblSaldo')
        const fdsBuscaBrinq = document.querySelector('#fdsBuscaBrinq')

        if(modal_data.status == 'Aberto'){
            fdsBuscaBrinq.style.display = 'flex';
            if((modal_data.saldo.P + modal_data.saldo.M + modal_data.saldo.G) > 0){
                aviso.innerHTML = `Você pode adicionar mais:\n${modal_data.saldo.P ? +modal_data.saldo.P+' tam. P\n':''}${modal_data.saldo.M ? modal_data.saldo.M+' tam. M\n':''}${modal_data.saldo.G ? modal_data.saldo.G+' tam. G':''}`
                aviso.style.color = 'rgb(227, 70, 0)'
            }else{
                aviso.innerHTML = 'Todos os brinquedos já foram selecionados.\nClique no botão Contratar logo abaixo para continuar.'
                aviso.style.color = 'rgb(0, 70, 227)'
            }
        }else{
            aviso.innerHTML = 'Evento Finalizado'
            aviso.style.color = 'rgb(100, 200, 100)'
            fdsBuscaBrinq.style.display = 'none';
        }
    }

    function viewSaldo(){
        const params = new Object;
            params.data = modal_data.data;
            
        const myPromisse = queryDB(params,24)

        myPromisse.then((resolve)=>{

            if(resolve.trim() != ""){            

                json =  JSON.parse(resolve)
                modal_data.reservado = json

            }
            
        });


    }


    function viewToys(){

        const params = new Object;
            params.nome = document.querySelector('#edtBusca').value;
            params.tamanho = 0;
            params.P = modal_data.saldo.P > 0 ? 'P' : 'N'
            params.M = modal_data.saldo.M > 0 ? 'M' : 'N'
            params.G = modal_data.saldo.G > 0 ? 'G' : 'N'
            
        const myPromisse = queryDB(params,22)

        myPromisse.then((resolve)=>{

            const tab = document.querySelector('#tblToys')
            tab.innerHTML = ''
            if(resolve.trim() != ""){            
                tab.innerHTML = '<tr><th>Nome</th><th>Tam.</th><th>Qtd.</th><th>Foto</th></tr>'
                function addTD(val,cn=''){
                    const td = document.createElement('td')
                    td.innerHTML = val
                    if(cn != ''){
                        td.className = cn
                    }
                    return td
                }

                function reserva(obj){                    
                    id = obj.id
                    qtd = parseInt(obj.qtd)
                    rsv = modal_data.reservado
                    for(let i=0; i<rsv.length; i++){
                        if(rsv[i].id == id){
                            qtd -= parseInt(rsv[i].qtd)
                        }
                    }
                    obj.qtd = qtd
                    return qtd
                }

                const json = JSON.parse(resolve);

                for(let i=0; i<json.length; i++){
            
                    const qtd = modal_data.reservado==undefined? json[i].qtd : reserva(json[i])
                    const tr = document.createElement('tr')
                    tr.className = qtd <=0 ? 'qtd-zero' : ''
                    tr.appendChild(addTD(json[i].id,'hide'))
                    tr.appendChild(addTD(json[i].nome))
                    tr.appendChild(addTD(json[i].tamanho))
                    tr.appendChild(addTD(qtd))
                    tr.appendChild(addTD(json[i].sobre,'hide'))
                    tr.appendChild(addTD(`<canvas width="300" height="300" id="cnvImg${i}" class="img-mini${qtd<=0?' img-PB':''}"></canvas>`,'no-margin'))
                    tr.title=json[i].sobre
                    tr.dados = json[i]
//                    tr.className = qtd > 0 ? '' : 'hide'
                    tab.appendChild(tr)
                    loadImg(json[i].img,"cnvImg"+ i)

                }

            }
            
        });


    }

    function viewMyToys(){

        const params = new Object;
            params.id_festa = data.id;
            
        const myPromisse = queryDB(params,20)

        myPromisse.then((resolve)=>{

            const tab = document.querySelector('#tblMyToys')
            tab.innerHTML = ''
            if(resolve.trim() != ""){            
                tab.innerHTML = '<tr><th>Nome</th><th>Tam.</th><th>Qtd.</th><th>Foto</th></tr>'
                function addTD(val,cn=''){
                    const td = document.createElement('td')
                    td.innerHTML = val
                    if(cn != ''){
                        td.className = cn
                    }
                    return td
                }

                const json = JSON.parse(resolve);
                for(let i=0; i<json.length; i++){
                    const tr = document.createElement('tr')
                    tr.appendChild(addTD(json[i].id,'hide'))
                    tr.appendChild(addTD(json[i].nome))
                    tr.appendChild(addTD(json[i].tamanho))
                    tr.appendChild(addTD(json[i].qtd))
                    tr.appendChild(addTD(`<canvas width="300" height="300" class="img-mini" id="cnvImg${i}"></canvas>`,'no-margin'))
                    tr.title=json[i].sobre
                    tr.dados = json[i]
                    tab.appendChild(tr)
                    loadImg(json[i].img,"cnvImg"+ i)

                }
                modal_data.myToys = json
                CountSizes()

                if(modal_data.status=='Encerrado'){
                    contrato_pdf(modal_data)
                }
                
            }
            
        });

    }

    function CountSizes(){
        const params = new Object;
            params.id_festa = data.id;
            
        const myPromisse = queryDB(params,23)

        myPromisse.then((resolve)=>{
            out = new Object
                out.P = 0
                out.M = 0
                out.G = 0
            if(resolve.trim() != ""){ 
                sizes = JSON.parse(resolve)

                for(let i=0; i<sizes.length; i++){
                    out.P = sizes[i].tam == 'P' ? parseInt(sizes[i].qtd) : out.P
                    out.M = sizes[i].tam == 'M' ? parseInt(sizes[i].qtd) : out.M
                    out.G = sizes[i].tam == 'G' ? parseInt(sizes[i].qtd) : out.G
                }

                modal_data.reserva = out
                modal_data.saldo = new Object
                modal_data.saldo.P = parseInt(modal_data.P) - out.P
                modal_data.saldo.M = parseInt(modal_data.M) - out.M
                modal_data.saldo.G = parseInt(modal_data.G) - out.G
                saldo()
            }

        })

       

    }


    document.querySelector('#btnEdit').addEventListener('click',()=>{
        if(modal_data.status == 'Aberto'){
            data.origin = 'myToys'
            data.evento = modal_data
            openHTML('new_event.html','over',data.nome, data)
        }else{
            alert('Este evento já foi encerrado')
        }
    })

    document.querySelector('#btnDel').addEventListener('click',()=>{

        if(modal_data.status == 'Aberto'){
            if(confirm('Operação irreversível!\r\rDeseja realmente deletar esta festa?')){
                const params = new Object;
                    params.hash = localStorage.getItem('hash')
                    params.id = modal_data.id

                    const myPromisse = queryDB(params,25)

                    myPromisse.then((resolve)=>{
                        btnClose.click()   
                        openHTML('agenda.html')
                    })
            }

        }else{
            if(confirm('Deseja reabrir esta festa?')){
                const params = new Object;
                    params.hash = localStorage.getItem('hash')
                    params.id = modal_data.id

                const myPromisse = queryDB(params,27)
                myPromisse.then((resolve)=>{                    
                    btnClose.click()  
                    document.querySelector('#menu-agenda').click()
                })

            }
        }

    })

    document.querySelector('#btnBusca').addEventListener('click',()=>{
        if(modal_data.status == 'Aberto'){
            viewToys()
        }else{
            alert('Não podemos mais adicionar novos ítens. pois este evento já foi encerrado.')
        }

    })

    document.querySelector('#tblToys').addEventListener('click',(e)=>{
        data = e.target.parentNode.dados
        if(data.qtd > 0){
            data.origin = 'myToys'
            data.evento = modal_data
            openHTML('addMyToy.html','over',data.nome, data)
        }else{
            alert('Infelizmente este brinquedo não esta disponível para essa data')
        }

    })

    document.querySelector('#tblMyToys').addEventListener('click',(e)=>{
        if(modal_data.status == 'Aberto'){
            if (confirm('Deseja realmente remover este brinquedo da lista?')) {
            
                const params = new Object;
                    params.id = e.target.parentNode.dados.id;

                const myPromisse = queryDB(params,21)
                myPromisse.then((resolve)=>{
                    viewMyToys()
                });         

            }                        
        }else{
            alert('Não podemos deletar este ítem, pois este evento já foi encerrado.')
        }
        
    })


    document.querySelector('#btnContrata').addEventListener('click',()=>{
        if(modal_data.status == 'Aberto'){
            const tot = modal_data.saldo.P+modal_data.saldo.M+modal_data.saldo.G

            if(tot > 0){
                alert('Você ainda não adicionou todos os brinquedos do kit, clique na "LUPA" acima para escolher mais brinquedos para sua festa.')
                document.querySelector('#btnBusca').click()
                document.querySelector('#edtBusca').focus()
            }else{
                openHTML('contrato.html','over','Dados de Fatura do Contrato', data)
            }
        }else{
            contrato_pdf(modal_data)
        }


    })


    function closeContract(){

        if(confirm('Após o encerramento, não poderá mais alterar os brinquedos selecionados, deseja continuar?')){
            const params = new Object;
                params.contrato = dateTransform(today)
                params.aberta = false
                params.id = modal_data.id;

            const myPromisse = queryDB(params,26)
            myPromisse.then(()=>{
                modal_data.origin = 'close_contract'
                modal_data.status = 'Encerrado'
                modal_data.contrato = dateTransform(today)
                openHTML('agenda.html')
                openHTML('myToys.html','pop-up',modal_data.nome+" - "+formatData(modal_data.data)+'<br>'+modal_data.kit ,modal_data)                               
            });    
        }

 
    }

 

</script>    