<template>
 
    <style>

        .modal-content{
            width: 90vw;

        }

        .no-margin, canvas{
            margin: 0 !important;
            padding: 0 !important;
            max-width: 40.5px;
        }

        legend{
            width: auto !important;
        }

        #btnContrata{
            margin-top: 10px;
            width: 100%;
        }

        #tblToys, #tblMyToys{
            width: calc(100% - 40px);
        }

    </style>

    <div class="frm-brinq">
           
        <fieldset>
            <legend>Adicione um Brinquedo</legend>
            <div class="inline">
                <input type="text" id="edtBusca" placeholder="Digite sua busca aqui" onkeypress="return getEnter(event, 'btnBusca')" >
                <button id="btnBusca">Busca</button>
            </div>
            <table id="tblToys"></table>
        </fieldset>

        <fieldset>
            <legend> Brinquedos Selecionados</legend>
            <h4 id="lblSaldo"></h4>
            <table id="tblMyToys"></table>
        </fieldset>

        <button id="btnContrata">Contratar</button>

    </div>

</template>

<script>        

    viewMyToys()
    viewSaldo()

    modal_data.saldo = new Object
        modal_data.saldo.P = parseInt(modal_data.P)
        modal_data.saldo.M = parseInt(modal_data.M)
        modal_data.saldo.G = parseInt(modal_data.G)

    if(modal_data.status != 'Aberto'){
        document.querySelector('#btnContrata').className = 'hide'
    
    }


    function saldo(){

        lab = ''
        if(modal_data.status == 'Aberto'){
            if((modal_data.saldo.P + modal_data.saldo.M + modal_data.saldo.G) > 0){
                lab = `Você pode adicionar mais ${modal_data.saldo.P} tam. P, 
                    ${modal_data.saldo.M} tam. M e ${modal_data.saldo.G} tam. G`
            }else{
                lab = 'Todos os brinquedos já foram selecionados.'
            }
        }else{
            lab = 'Evento Encerrado'
        }

        document.querySelector('#lblSaldo').innerHTML = lab


    }

    function viewSaldo(){


        const params = new Object;
            params.data = modal_data.data;
            
        const myPromisse = queryDB(params,24)

        myPromisse.then((resolve)=>{

            if(resolve.trim() != ""){            

                json =  JSON.parse(resolve)
                modal_data.reservado = json

            }
            
        });


    }


    function viewToys(){

        const params = new Object;
            params.nome = document.querySelector('#edtBusca').value;
            params.tamanho = 0;
            params.P = modal_data.saldo.P > 0 ? 'P' : 'N'
            params.M = modal_data.saldo.M > 0 ? 'M' : 'N'
            params.G = modal_data.saldo.G > 0 ? 'G' : 'N'
            
        const myPromisse = queryDB(params,22)

        myPromisse.then((resolve)=>{

            const tab = document.querySelector('#tblToys')
            tab.innerHTML = ''
            if(resolve.trim() != ""){            
                tab.innerHTML = '<tr><th>Nome</th><th>Tam.</th><th>Qtd.</th><th>Foto</th></tr>'
                function addTD(val,cn=''){
                    const td = document.createElement('td')
                    td.innerHTML = val
                    if(cn != ''){
                        td.className = cn
                    }
                    return td
                }

                function reserva(obj){
                    id = obj.id
                    qtd = parseInt(obj.qtd)
                    rsv = modal_data.reservado
                    for(let i=0; i<rsv.length; i++){
                        if(rsv[i].id == id){
                            qtd -= parseInt(rsv[i].qtd)
                        }
                    }
                    obj.qtd = qtd
                    return qtd
                }

                const json = JSON.parse(resolve);

                for(let i=0; i<json.length; i++){
                    const qtd = reserva(json[i])
                    const tr = document.createElement('tr')
                    tr.appendChild(addTD(json[i].id,'hide'))
                    tr.appendChild(addTD(json[i].nome))
                    tr.appendChild(addTD(json[i].tamanho))
                    tr.appendChild(addTD(qtd))
                    tr.appendChild(addTD(json[i].sobre,'hide'))
                    tr.appendChild(addTD(`<canvas width="300" height="300" id="cnvImg${i}"></canvas>`,'no-margin'))
                    tr.title=json[i].sobre
                    tr.dados = json[i]
//                    tr.className = qtd > 0 ? '' : 'hide'
                    tab.appendChild(tr)
                    loadImg(json[i].img,"cnvImg"+ i)

                }

            }
            
        });


    }

    function viewMyToys(){

        const params = new Object;
            params.id_festa = data.id;
            
        const myPromisse = queryDB(params,20)

        myPromisse.then((resolve)=>{

            const tab = document.querySelector('#tblMyToys')
            tab.innerHTML = ''
            if(resolve.trim() != ""){            
                tab.innerHTML = '<tr><th>Nome</th><th>Tam.</th><th>Qtd.</th><th>Foto</th></tr>'
                function addTD(val,cn=''){
                    const td = document.createElement('td')
                    td.innerHTML = val
                    if(cn != ''){
                        td.className = cn
                    }
                    return td
                }

                const json = JSON.parse(resolve);
                for(let i=0; i<json.length; i++){
                    const tr = document.createElement('tr')
                    tr.appendChild(addTD(json[i].id,'hide'))
                    tr.appendChild(addTD(json[i].nome))
                    tr.appendChild(addTD(json[i].tamanho))
                    tr.appendChild(addTD(json[i].qtd))
                    tr.appendChild(addTD(`<canvas width="300" height="300" id="cnvImg${i}"></canvas>`,'no-margin'))
                    tr.title=json[i].sobre
                    tr.dados = json[i]
                    tab.appendChild(tr)
                    loadImg(json[i].img,"cnvImg"+ i)

                }
                CountSizes()

            }
            
        });

    }

    function CountSizes(){
        const params = new Object;
            params.id_festa = data.id;
            
        const myPromisse = queryDB(params,23)

        myPromisse.then((resolve)=>{
            out = new Object
                out.P = 0
                out.M = 0
                out.G = 0
            if(resolve.trim() != ""){ 
                sizes = JSON.parse(resolve)

                for(let i=0; i<sizes.length; i++){
                    out.P = sizes[i].tam == 'P' ? parseInt(sizes[i].qtd) : out.P
                    out.M = sizes[i].tam == 'M' ? parseInt(sizes[i].qtd) : out.M
                    out.G = sizes[i].tam == 'G' ? parseInt(sizes[i].qtd) : out.G
                }

                modal_data.reserva = out
                modal_data.saldo = new Object
                modal_data.saldo.P = parseInt(modal_data.P) - out.P
                modal_data.saldo.M = parseInt(modal_data.M) - out.M
                modal_data.saldo.G = parseInt(modal_data.G) - out.G
                saldo()
            }

        })

       

    }


    document.querySelector('#btnBusca').addEventListener('click',()=>{
        if(modal_data.status == 'Aberto'){
            viewToys()
        }else{
            alert('Não podemos mais adicionar novos ítens. pois este evento já foi encerrado.')
        }

    })

    document.querySelector('#tblToys').addEventListener('click',(e)=>{
        data = e.target.parentNode.dados
        if(data.qtd > 0){
            data.origin = 'myToys'
            data.evento = modal_data
            openHTML('addMyToy.html','over',data.nome, data)
        }else{
            alert('Infelizmente este brinquedo não esta disponível para essa data')
        }

    })

    document.querySelector('#tblMyToys').addEventListener('click',(e)=>{
        if(modal_data.status == 'Aberto'){
            if (confirm('Deseja realmente deletar este brinquedo da lista?')) {
            
                const params = new Object;
                    params.id = e.target.parentNode.dados.id;

                const myPromisse = queryDB(params,21)
                myPromisse.then((resolve)=>{
                    viewMyToys()
                });         

            }                        
        }else{
            alert('Não podemos deletar este ítem, pois este evento já foi encerrado.')
        }
        
    })


    document.querySelector('#btnContrata').addEventListener('click',()=>{
        contrato_pdf(modal_data)
    })


    function contrato_pdf(data){

console.log(data)

        function center_text(text,Y){
            xOffset = (doc.internal.pageSize.getWidth() - text.length * (doc.internal.getFontSize() / 4.6)) /2;         
            doc.text(text.toUpperCase(), xOffset, Y);
        }

        var imgData = new Image()
            imgData.src = 'assets/logo.png'

            var doc = new jsPDF({
                orientation: 'p',
                unit: 'mm',
                format: 'a4'
            })  

            doc.rect(5,5,200,286)

            doc.addImage(imgData, 'png', 14, 7, 36, 25);        

            doc.setFontSize(11)
            doc.setFont(undefined, 'bold')
            center_text('CONTRATO DE LOCAÇÃO DE BRINQUEDOS PARA FESTAS E EVENTOS',46)
            center_text(`${data.nome} - ${formatData(data.data)}`,55)

            doc.setFont(undefined,'normal')
            doc.text('FVL SB LTDA ME, CNPJ: 25.308.185/0001-27, sediada a Av. Lineu de Moura, n. 805,',30,65)        
            doc.text('São José dos Campos/SP, doravante denominado LOCADORA.',30,70)
            doc.text(`${data.cliente}, CPF ${data.CPF}, residente a ${data.endereco} - «Bairro», «Cidade»/SP`,30,78)
            doc.text('doravante denominado LOCATÁRIA.',30,83)
            doc.text('As partes acima qualificadas, tem entre si, justo e acertado os seguintes termos e',30,91)
            doc.text('condições do contrato de locação de brinquedos, conforme a seguir.',30,96)
                    
            doc.setFont(undefined, 'bold')
            
                                        
            




            doc.save('contrato.pdf')

    }


</script>    