<template>
 
    <style>

        .modal-content{
            width: 90vw;

        }

        .no-margin, canvas{
            margin: 0 !important;
            padding: 0 !important;
            max-width: 40.5px;
        }

        legend{
            width: auto !important;
        }

        #btnContrata, #btnEdit{
            margin-top: 10px;
            width: 100%;
        }

        #tblToys, #tblMyToys{
            width: calc(100% - 40px);
        }

    </style>

    <div class="frm-brinq">
           
        <fieldset>
            <legend>Evento</legend>
            <p id="lbl01"></p>
            <p id="lbl02"></p>
            <p id="lbl03"></p>
            <button id="btnEdit">Editar</button>
        </fieldset>

        <fieldset>
            <legend>Adicione um Brinquedo</legend>
            <div class="inline">
                <input type="text" id="edtBusca" placeholder="Digite sua busca aqui" onkeypress="return getEnter(event, 'btnBusca')" >
                <button id="btnBusca">Busca</button>
            </div>
            <table id="tblToys"></table>
        </fieldset>

        <fieldset>
            <legend> Brinquedos Selecionados</legend>
            <h4 id="lblSaldo"></h4>
            <table id="tblMyToys"></table>
        </fieldset>

        <button id="btnContrata">Contratar</button>

    </div>

</template>

<script>        

    document.querySelector('#lbl01').innerHTML = `<b>Local:</b> ${modal_data.local} - ${modal_data.endereco} N.${modal_data.num}, ${modal_data.cidade}-${modal_data.estado}`
    document.querySelector('#lbl02').innerHTML = `<b>Responsável:</b> ${modal_data.responsavel} - ${modal_data.cel}`
    document.querySelector('#lbl03').innerHTML = `<b>Início da Festa:</b> ${modal_data.inicio},  montagem programada para as ${modal_data.montagem} e desmontagem as ${modal_data.desmontagem}`

console.log(modal_data)

    viewMyToys()
    viewSaldo()

    modal_data.saldo = new Object
        modal_data.saldo.P = parseInt(modal_data.P)
        modal_data.saldo.M = parseInt(modal_data.M)
        modal_data.saldo.G = parseInt(modal_data.G)

    if(modal_data.status != 'Aberto'){
        document.querySelector('#btnContrata').className = 'hide'
    
    }


    function saldo(){

        lab = ''
        if(modal_data.status == 'Aberto'){
            if((modal_data.saldo.P + modal_data.saldo.M + modal_data.saldo.G) > 0){
                lab = `Você pode adicionar mais ${modal_data.saldo.P} tam. P, 
                    ${modal_data.saldo.M} tam. M e ${modal_data.saldo.G} tam. G`
            }else{
                lab = 'Todos os brinquedos já foram selecionados.'
            }
        }else{
            lab = 'Evento Encerrado'
        }

        document.querySelector('#lblSaldo').innerHTML = lab


    }

    function viewSaldo(){
        const params = new Object;
            params.data = modal_data.data;
            
        const myPromisse = queryDB(params,24)

        myPromisse.then((resolve)=>{

            if(resolve.trim() != ""){            

                json =  JSON.parse(resolve)
                modal_data.reservado = json

            }
            
        });


    }


    function viewToys(){

        const params = new Object;
            params.nome = document.querySelector('#edtBusca').value;
            params.tamanho = 0;
            params.P = modal_data.saldo.P > 0 ? 'P' : 'N'
            params.M = modal_data.saldo.M > 0 ? 'M' : 'N'
            params.G = modal_data.saldo.G > 0 ? 'G' : 'N'
            
        const myPromisse = queryDB(params,22)

        myPromisse.then((resolve)=>{

            const tab = document.querySelector('#tblToys')
            tab.innerHTML = ''
            if(resolve.trim() != ""){            
                tab.innerHTML = '<tr><th>Nome</th><th>Tam.</th><th>Qtd.</th><th>Foto</th></tr>'
                function addTD(val,cn=''){
                    const td = document.createElement('td')
                    td.innerHTML = val
                    if(cn != ''){
                        td.className = cn
                    }
                    return td
                }

                function reserva(obj){                    
                    id = obj.id
                    qtd = parseInt(obj.qtd)
                    rsv = modal_data.reservado
                    for(let i=0; i<rsv.length; i++){
                        if(rsv[i].id == id){
                            qtd -= parseInt(rsv[i].qtd)
                        }
                    }
                    obj.qtd = qtd
                    return qtd
                }

                const json = JSON.parse(resolve);

                for(let i=0; i<json.length; i++){
                 
                    const qtd = modal_data.reservado==undefined? json[i].qtd : reserva(json[i])
                    const tr = document.createElement('tr')
                    tr.appendChild(addTD(json[i].id,'hide'))
                    tr.appendChild(addTD(json[i].nome))
                    tr.appendChild(addTD(json[i].tamanho))
                    tr.appendChild(addTD(qtd))
                    tr.appendChild(addTD(json[i].sobre,'hide'))
                    tr.appendChild(addTD(`<canvas width="300" height="300" id="cnvImg${i}"></canvas>`,'no-margin'))
                    tr.title=json[i].sobre
                    tr.dados = json[i]
//                    tr.className = qtd > 0 ? '' : 'hide'
                    tab.appendChild(tr)
                    loadImg(json[i].img,"cnvImg"+ i)

                }

            }
            
        });


    }

    function viewMyToys(){

        const params = new Object;
            params.id_festa = data.id;
            
        const myPromisse = queryDB(params,20)

        myPromisse.then((resolve)=>{

            const tab = document.querySelector('#tblMyToys')
            tab.innerHTML = ''
            if(resolve.trim() != ""){            
                tab.innerHTML = '<tr><th>Nome</th><th>Tam.</th><th>Qtd.</th><th>Foto</th></tr>'
                function addTD(val,cn=''){
                    const td = document.createElement('td')
                    td.innerHTML = val
                    if(cn != ''){
                        td.className = cn
                    }
                    return td
                }

                const json = JSON.parse(resolve);
                for(let i=0; i<json.length; i++){
                    const tr = document.createElement('tr')
                    tr.appendChild(addTD(json[i].id,'hide'))
                    tr.appendChild(addTD(json[i].nome))
                    tr.appendChild(addTD(json[i].tamanho))
                    tr.appendChild(addTD(json[i].qtd))
                    tr.appendChild(addTD(`<canvas width="300" height="300" id="cnvImg${i}"></canvas>`,'no-margin'))
                    tr.title=json[i].sobre
                    tr.dados = json[i]
                    tab.appendChild(tr)
                    loadImg(json[i].img,"cnvImg"+ i)

                }
                modal_data.myToys = json
                CountSizes()

            }
            
        });

    }

    function CountSizes(){
        const params = new Object;
            params.id_festa = data.id;
            
        const myPromisse = queryDB(params,23)

        myPromisse.then((resolve)=>{
            out = new Object
                out.P = 0
                out.M = 0
                out.G = 0
            if(resolve.trim() != ""){ 
                sizes = JSON.parse(resolve)

                for(let i=0; i<sizes.length; i++){
                    out.P = sizes[i].tam == 'P' ? parseInt(sizes[i].qtd) : out.P
                    out.M = sizes[i].tam == 'M' ? parseInt(sizes[i].qtd) : out.M
                    out.G = sizes[i].tam == 'G' ? parseInt(sizes[i].qtd) : out.G
                }

                modal_data.reserva = out
                modal_data.saldo = new Object
                modal_data.saldo.P = parseInt(modal_data.P) - out.P
                modal_data.saldo.M = parseInt(modal_data.M) - out.M
                modal_data.saldo.G = parseInt(modal_data.G) - out.G
                saldo()
            }

        })

       

    }


    document.querySelector('#btnEdit').addEventListener('click',()=>{
        data.origin = 'myToys'
        data.evento = modal_data
        openHTML('new_event.html','over',data.nome, data)
    })

    document.querySelector('#btnBusca').addEventListener('click',()=>{
        if(modal_data.status == 'Aberto'){
            viewToys()
        }else{
            alert('Não podemos mais adicionar novos ítens. pois este evento já foi encerrado.')
        }

    })

    document.querySelector('#tblToys').addEventListener('click',(e)=>{
        data = e.target.parentNode.dados
        if(data.qtd > 0){
            data.origin = 'myToys'
            data.evento = modal_data
            openHTML('addMyToy.html','over',data.nome, data)
        }else{
            alert('Infelizmente este brinquedo não esta disponível para essa data')
        }

    })

    document.querySelector('#tblMyToys').addEventListener('click',(e)=>{
        if(modal_data.status == 'Aberto'){
            if (confirm('Deseja realmente deletar este brinquedo da lista?')) {
            
                const params = new Object;
                    params.id = e.target.parentNode.dados.id;

                const myPromisse = queryDB(params,21)
                myPromisse.then((resolve)=>{
                    viewMyToys()
                });         

            }                        
        }else{
            alert('Não podemos deletar este ítem, pois este evento já foi encerrado.')
        }
        
    })


    document.querySelector('#btnContrata').addEventListener('click',()=>{
        contrato_pdf(modal_data)
    })


    function contrato_pdf(data){

        var imgData = new Image()
            imgData.src = 'assets/logo.png'

        var doc = new jsPDF({
                orientation: 'p',
                unit: 'mm',
                format: 'a4'
            })  

        var txt = new Object
                txt.heigth = 5
                txt.x = 25
                txt.y = 46
                txt.width = doc.internal.pageSize.getWidth() - txt.x
                txt.alt = 285
                txt.text 

        function addLine(N=1){
            txt.y += txt.heigth * N
        }

        function frame(){
            doc.rect(5,5,200,286)
        }

        function logo(){
            doc.addImage(imgData, 'png', 14, 7, 36, 25);
        }

        function center_text(T=''){
            let text = T==''? txt.text : T
            xOffset = (doc.internal.pageSize.getWidth() - text.length * (doc.internal.getFontSize() / 4.6)) /2;         
            doc.text(text.toUpperCase(), xOffset, txt.y);
            addLine()
        }

        function block_text(T=''){
            const text = T==''? txt.text.split(' ') : T.split(' ')
            let line = ''

            function print(){

                if(line.length > 0){
                    doc.text(line.trim(), txt.x, txt.y);
                }
                addLine()
                line = ''
                if (txt.y >= txt.alt){
                    doc.addPage();
                    frame()
                    logo()
                    txt.y = 46 
                }                
            }

            for(let i=0; i< text.length; i++){

                if(text[i].includes('\n')){
                    line = line.trim() + ' ' + text[i].trim()
                    print()
                }else if(text[i] != ''){
                    line = line.trim() + ' ' + text[i].trim()
                }
                
                length = line.length * (doc.internal.getFontSize() / 4.6)
                if(length > txt.width){
                    print()
                }                
            }
            print()
        }


        frame()
        logo()

        
        doc.setFontSize(11)
        doc.setFont(undefined, 'bold')
        center_text('CONTRATO DE LOCAÇÃO DE BRINQUEDOS PARA FESTAS E EVENTOS')
        center_text(`${data.nome} - ${formatData(data.data)}`)

        addLine(2)

        txt.text = `FVL SB LTDA ME, CNPJ 25.308.185/0001-27, sediada a Av. Lineu de Moura, n.805, São José dos Campos/SP, doravante denominado LOCADORA. 
        
        ${data.cliente}, CPF ${data.CPF}, residente a ${data.cli_end}, n.${data.cli_num}, ${data.cli_cidade}/${data.cli_estado} doravante denominado LOCATÁRIA. 
        
        As partes acima qualificadas, tem entre si, justo e acertado os seguintes termos e condições do contrato de locação de brinquedos, conforme a seguir.`

        doc.setFont(undefined,'normal')
        block_text()

                
        doc.setFont(undefined, 'bold')
        
        addLine()

        block_text(`${data.kit} ${data.monitoria=='1' ? '+ MONITORA' : '' }`) 
        addLine()    
        block_text('Descrição dos Itens Locados:')     
        addLine()
        txt.text = ''
        for(let i=0; i<data.myToys.length; i++){
            txt.text += `${data.myToys[i].qtd}  ${data.myToys[i].nome} - tam ${data.myToys[i].tamanho}   
            `
        }

        doc.setFont(undefined,'normal')
        block_text()

        preco = parseFloat(data.valor)

        txt.text =`O kit será acompanhado por tapete de EVA cor madeira e lousa. 
 
        O valor da locação é de ${preco.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})}, frete incluso, que deverão ser pagos através de depósito em conta corrente no banco NU BANK (Banco 260 - Nu Pagamentos S.A.), AG 0001, C/C 80940970-1, titularidade de Michele de Souza Lopes, CPF 286.193.928-16 ou via PIX - Chaves de acesso: "12981736952" ou "casadogeppetto@gmail.com" 
         
        50% (${(preco/2).toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})}) no recebimento do contrato para reserva de vaga. 
        50% (${(preco/2).toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})}) até o dia da festa ${formatData(data.data)}
        
        
        Contratam, sob as cláusulas e condições seguintes: 
 
         
        I - A locação dos brinquedos vigerá pelo período de «Hora_adicional» horas, caso necessite de mais tempo consultar disponibilidade com antecedência e o valor da hora adicional, devendo o locatário restituí-lo findo o prazo; 
 
        II - Fica estabelecido o sinal de 50% (cinquenta por cento) do valor monetário total da locação para reserva de datas. O saldo restante deverá ser pago até a data da festa já mencionada acima.  
 
        III - A desistência por parte do LOCATÁRIO implica na perda total do valor pago pela locação do(s) item(s) acima descrito(s) na seguinte proporção: 
 
        III.1 - Cancelamento com antecedência inferior ou igual a 15 dias do evento, será cobrado o valor integral deste contrato, dada a impossibilidade de locação para novo cliente;
 
        III.2 - Cancelamento com antecedência superior a 15 e inferior a 30 dias, será cobrado 50% do valor do contrato;
 
        III.3 - Cancelamento superior a 30 dias, será retido a 20% sobre o valor do contrato
 
        IV - O LOCATÁRIO assume a responsabilidade que usará o(s) brinquedo(s) de forma a não prejudicar as condições estéticas e de segurança do(s) mesmo(s); 
 
        V - O LOCATÁRIO assume também a responsabilidade de proporcionar um local adequado para o(s) brinquedo(s) locado(s), devendo ser plano e uniforme, caso na data do evento o tempo esteja chuvoso, pois não é possível a montagem dos brinquedos expostos à chuva por motivo de segurança das crianças e a impossibilidade por este motivo não obriga o LOCADOR a fazer a devolução do valor monetário dado como sinal; locais de difícil acesso para a montagem dos brinquedos será cobrada uma adicional de grau de dificuldade. 
 
        VI - O LOCATÁRIO, indica que o local, data e hora do evento 
 
        Local: ${data.local}
        Endereço: ${data.endereco}, ${data.bairro} - ${data.cidade}-${data.estado}
        Data: ${formatData(data.data)}       
        Início do evento: ${data.inicio}
        Montagem: ${data.montagem}   
        Desmontagem: ${data.desmontagem}
        Responsável: ${data.responsavel}
        Tel: ${data.cel}
        Observações importantes: ${data.obs} 
 

        VII - O LOCADOR se compromete a montar o(s) brinquedo(s) uma hora antes do início do evento (horário do evento estabelecido no início deste contrato) e 1 monitor se contratado. 
 
        VIII - Caso, antes do evento, ocorra algum defeito ou dano no item alugado, o LOCADOR reserva o direito de substituí-lo SEM AVISO PREVIO, por outro brinquedo de mesma categoria; 
 
        IX - O LOCADOR, por si ou por preposto, poderá visitar o local do evento durante a locação, para garantir o bom funcionamento do(s) brinquedo(s) e verificar o exato cumprimento das cláusulas deste contrato; 
 
        X - BENS MÓVEIS: O termo Bens Móveis refere-se a todo o mobiliário fornecido pela LOCADORA a LOCATÁRIA. 
 
        X.1- A LOCADORA possui propriedade dos Bens Móveis sendo de exclusivo uso da LOCATÁRIA e deverão ser devolvidos pela LOCATÁRIA, ao término ou no caso de rescisão parcial ou total deste contrato. 
 
        X.2 - É vedado à LOCATÁRIA ceder, emprestar ou sublocar, total ou parcialmente, o objeto locado sem a anuência, por escrito, do locador. 
 
        XI - A entrega dos bens locados caberá à LOCADORA, ou a quem por ela for indicado, na localização estipulada pela LOCATÁRIA no Pedido de Locação, contabilizando desde assinatura e aceitação da LOCATÁRIA. 
 
        XI.1 - Se houver interesse da LOCATÁRIA na prorrogação do prazo de Locação deste contrato, caberá às partes no prazo improrrogável de 72 (setenta e duas) horas anteriores ao seu evento, manifestar seu desejo, por escrito, em continuar com a locação por prazo igual ou superior. 
 
        XI. 2 - A LOCATÁRIA deverá ter a posse legal do local em que forem entregues e instalados os bens, sendo que sem o prévio consentimento, por escrito da LOCADORA, tais bens, não poderão ser instalados em outro local que não o estabelecido no respectivo contrato. 
 
        XI.3 - A responsabilidade de averiguação se os bens entregues pela LOCADORA atendem às especificações solicitadas será da LOCATÁRIA, que deverá no ato do recebimento assinar o termo de entrega e vistoria, que servirá como comprovante do recebimento e aceitação dos bens. 
 
        XI.4 - A continuação da utilização dos bens móveis após o término do Contrato implicará a concordância imediata da LOCATÁRIA com a sua renovação por prazo igual. 
 
        XII - Em caso de avaria, extravio, danos e/ou furto do material locado, a LOCADORA se reserva o direito de emitir cobrança bancária a LOCATÁRIA, que desde já autoriza tal cobrança no valor correspondente ao reparo e/ou substituição do material. 
 
        XII.1 - Todo e qualquer conserto e/ou reparo será efetuado única e exclusivamente pela LOCADORA, caso contrário a LOCATÁRIA será automaticamente responsabilizada pelos danos eventualmente causados. 
 
        XII.2 - A conservação dos bens locados será de responsabilidade da LOCATÁRIA. 
 
        XII.3 - Não é permitido a LOCATÁRIA adaptar os bens locados, instalando peças, modificando sua aparência, estrutura ou funcionamento, a não ser que a LOCADORA, por escrito, consinta previamente. 
 
        XIII - A infração de qualquer das cláusulas deste contrato faz incorrer ao infrator na multa irredutível de 20% (vinte por cento), sobre o valor monetário da locação e importa na sua rescisão de pleno direito, sujeitando-se a parte infratora ao pagamento das perdas e danos que posteriormente forem apuradas; 
 
        Fica eleito do foro da cidade de São José dos Campos, para dirimir qualquer litígio. 
 
        E por estarem justos e contratados, lavraram o presente instrumento em 02 (duas) vias de igual teor e forma para as finalidades de direito. 
 
        São José dos Campos, ${today.getDate()} de ${meses[today.getMonth()]} de ${today.getFullYear()}. 
        `

        block_text()

        addLine(2)
        doc.text('Locador',txt.x, txt.y)
        doc.setFontSize(15)
        doc.setTextColor(38,99,108);
        doc.text('Michele S. Lopes / Natalia Savassa',txt.x + 20, txt.y)
        addLine(3)
        doc.setFontSize(11)
        doc.setTextColor(0,0,0);
        doc.text('Locatário',txt.x, txt.y)
        doc.setFontSize(15)
        doc.setTextColor(38,99,108);
        doc.text(data.cliente,txt.x + 20, txt.y)

//        doc.fromHTML("Paranyan <b>loves</b> jsPDF", 35, 25)


        doc.save('contrato.pdf')

    }


</script>    