<template>
 
    <style>

        .modal-content {
            width: 350px ; 
            height: auto;
            padding: 20px;
            opacity: 90%;
        }

        .frm-frame{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .frm-frame *{
            padding: 8px;
            margin: 10px;
            width: 80%;
        }

        #lblNovoUsuario{
            font-size: 12px;
        }

    </style>

    <div class="frm-frame">
       
        Imagem
        <input  name="up_file" id="up_file"   type="file"      accept=".jpg,.jpeg,.png">
        <canvas width="300" height="300" id="cnvImg"></canvas>

        Cor de Fundo
        <input id="cmbColor" type="color" value="#f0a70a" >
            
        Fonte
        <input  id="cmbFont" type="number" value="15" min="8" max="35" maxlength="255" >

        Cor da Fonte
        <input id="cmbColorFont" type="color" value="#000000" >

        Texto
        <textarea id="edtTexto" cols="40" rows="5"></textarea>
        <button id="btnAdd"> Adicionar </button>
        <button id="btnDel" style="display:none;">Deletar</button> 
    </div>

</template>

<script>        

    if(modal_data!=''){
        document.querySelector('#cmbColor').value = modal_data.background
        document.querySelector('#cmbColorFont').value = modal_data.color
        document.querySelector('#cmbFont').value = modal_data.font
        document.querySelector('#edtTexto').value = modal_data.text
        document.querySelector('#btnAdd').innerHTML = 'Salvar'
        document.querySelector('#btnDel').style = 'display:block;'
        if(modal_data.filename.trim() != ''){
            loadImg(modal_data.filename)
        }

    }

    document.querySelector('#btnAdd').addEventListener('click',()=>{

//        document.querySelector('#hdnAccess').value = localStorage.getItem('access');

        const up_data = new FormData();        
            up_data.append("up_file",  document.querySelector('#up_file').files[0]);
            up_data.append("hdnAccess", localStorage.getItem('access'));

        const myRequest = new Request("files/upload.php",{
            method : "POST",
            body : up_data
        });

        const myPromisse = new Promise((resolve,reject) =>{
            fetch(myRequest)
            .then(function (response){
                if (response.status === 200) { 
                    resolve(response.text());
                    btnClose.click();
                } else { 
                    reject(new Error("Houve algum erro na comunicação com o servidor"));                    
                } 
            });
        }); 

        myPromisse.then((resolve)=>{

            path = document.querySelector('#up_file').value.split('\\')[2]           
            if(path == undefined){
                path = modal_data != '' ? modal_data.filename.trim() : ''
            }
            

            const params = new Object;        
            params.id = modal_data != ''? modal_data.id : 'DEFAULT'
            params.category = localStorage.getItem("frame");
            params.background = document.querySelector('#cmbColor').value;
            if(path == ''){
                params.content = 'txt';
            }else{
                params.content = 'pic';                
            }
            params.filename = path
            params.font = document.querySelector('#cmbFont').value;
            params.text = document.querySelector('#edtTexto').value;
            params.color = document.querySelector('#cmbColorFont').value;

            let myPromisse
            myPromisse = queryDB(params,3)
/*            
                        if(modal_data != ''){
                            params.id = modal_data.id;
                            myPromisse = queryDB(params,4)
                        }else{
                            myPromisse = queryDB(params,3)
                        }            
*/                        

            myPromisse.then(()=>{
                loadContent(localStorage.getItem("frame"));
            })
            
            btnClose.click();

        })
    })

    document.querySelector('#up_file').addEventListener('change',()=>{

        if (document.querySelector('#up_file').files && document.querySelector('#up_file').files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {

                var ctx = document.getElementById('cnvImg');
                if (ctx.getContext) {

                    ctx = ctx.getContext('2d');
                    let preview = new Image();
                    preview.onload = function () {
                        ar = aspect_ratio(preview)
                        ctx.drawImage(preview, 0, 0,preview.width,preview.height,ar[0],ar[1],ar[2],ar[3]);
                    };

                    preview.src = e.target.result
            
                }

            }

            reader.readAsDataURL(document.querySelector('#up_file').files[0]);
        }

    })

    document.querySelector('#btnDel').addEventListener('click',()=>{
        if (confirm('Deseja deletar este Post?')) {

            const params = new Object;
            params.id = data.id;
            const myPromisse = queryDB(params,5)

            myPromisse.then(()=>{
                loadContent(localStorage.getItem("frame"));
            })

            btnClose.click();     

        }        
    })

</script>    